<%= render "layouts/user_header"%>

<div class="background">
  <div class="make-user-main">
    <div class="user-calender">
      <div class="page-head">
          <div class="current-user-name">
            <%= current_user.name %>
          </div>
        <div class="current-month-title">
          <div class="sub-title"><%= @today.strftime('%Y年%m月') %></div>
        </div>
      </div>
      <table class="shift-table">
        <tr>
          <th class="current-month-sun">日</th>
          <th class="current-month">月</th>
          <th class="current-month">火</th>
          <th class="current-month">水</th>
          <th class="current-month">木</th>
          <th class="current-month">金</th>
          <th class="current-month-sat">土</th>
        </tr>
        <% start_month = @today.at_beginning_of_month.at_beginning_of_week - 1 %> <%# 今月の最初の週の日曜日の日付 %>
        <%# ７*５の表にカレンダーを作成 %>
        <% 35.times do |i|%>
          <%# 週初めに<tr>開始タグをつける %>
          <% if i % 7 == 0 %>
            <tr>
          <% end %>
          <%# 先月・来月にはclass属性を付与 %>
          <% if start_month.month == @today.month - 1 || start_month.month == @today.month + 1 %>
            <% if start_month.wday == 0 %>
              <td class="prev-next-month-sun"><%= start_month.strftime("%d").to_i %></td>
            <% elsif start_month.wday == 6 %>
              <td class="prev-next-month-sat"><%= start_month.strftime("%d").to_i %></td>
            <% else%>
              <td class="prev-next-month"><%= start_month.strftime("%d").to_i %></td>
            <% end %>
          <% else %>
          
            <% if start_month.wday == 0 %>
              <td class="current-month-sun-num">
                <%= start_month.strftime("%d").to_i %>
                <% @works.each do |work| %>
                  <% if work.date.day == start_month.strftime("%d").to_i %>
                    <% if work.holiday_actual == false %>
                      <div class="shift-in-calender">
                        <%= work.datetime_in_actual[0,2] %>:<%= work.datetime_in_actual[2,3] %> ~ 
                        <%= work.datetime_out_actual[0,2] %>:<%= work.datetime_out_actual[2,3] %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            <% elsif start_month.wday == 6%>
              <td class="current-month-sat-num">
                <%= start_month.strftime("%d").to_i %>
                <% @works.each do |work| %>
                  <% if work.date.day == start_month.strftime("%d").to_i %>
                    <% if work.holiday_actual == false %>
                      <div class="shift-in-calender">
                        <%= work.datetime_in_actual[0,2] %>:<%= work.datetime_in_actual[2,3] %> ~ 
                        <%= work.datetime_out_actual[0,2] %>:<%= work.datetime_out_actual[2,3] %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            <% else %>
              <td class="current-month-num">
                <%= start_month.strftime("%d").to_i %>
                <% @works.each do |work| %>
                  <% if work.date.day == start_month.strftime("%d").to_i %>
                    <% if work.holiday_actual == false %>
                      <div class="shift-in-calender">
                        <%= work.datetime_in_actual[0,2] %>:<%= work.datetime_in_actual[2,3] %> ~ 
                        <%= work.datetime_out_actual[0,2] %>:<%= work.datetime_out_actual[2,3] %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          <% end %>
          <%# 週終わりに</tr>閉じタグをつける %>
          <% if i % 7 == 6 %>
            </tr>
          <% end %>
          <% start_month += 1 %>
        <% end %>
      </table>
    </div>
  </div>
</div>


<%= render "layouts/user_footer"%>