<%= render "layouts/header"%>
<div class="background">
  <div class="make-admin-main">
    <div class="back-box">
      <h1 class="admin-title"><%="日報作成トップ#{current_admin.name}" %></h1>
        <div class="table-scroll">
          <table class="today-shift", id="table"> 
            <tr>
              <th class="table-head">名前</th>
              <% 25.times do |time| %>
                  <th colspan="2"><%= "#{time}" %></th>
              <% end %>
            </tr>
            <% @users.each_with_index do |users, f| %>
            <tbody class="row-group", id=<%= "group#{f}" %>>
              <tr class="time-list">
                <td class="table-user", id=<%= "user#{f}" %>><%= users.name %></td>
                <% 50.times do |i|%>
                  <td class="border-th", id=<%= "#{i}" %>><%=""%></td>
                <% end %>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>



      <%= form_with model:@works, url: "#", id: "shift-form", local: true do |f| %>
        <% @works.each_with_index do |work, w| %>
          <% @users.each_with_index do |user, u| %>
            <% if work.holiday_actual == false %>
              <div class='form-wrap'>
                <div class='login-flash-message'>
                  <%= flash[:notice] %>
                  <%= flash[:alert] %>
                </div>
                <%# <%= render 'layouts/error_messages', model: f.object %>
                <% if work.user_id == user.id%>
                  <div class="form-group">
                    <%= f.text_field :user_id, value: user.name, id:"user-id#{u}" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :datetime_in_actual, value: work.datetime_in_actual, id:"in-time#{u}" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :datetime_out_actual, value: work.datetime_out_actual, id:"out-time#{u}" %>
                  </div>
                  <div class="form-group">
                    <span id="holiday-check">休みにする</span>
                    <%= f.check_box :holiday_actual, id:"holiday#{u}",:as => :boolean %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class='form-wrap'>
                <div class='login-flash-message'>
                  <%= flash[:notice] %>
                  <%= flash[:alert] %>
                </div>
                <%# <%= render 'layouts/error_messages', model: f.object %>
                <% if work.user_id == user.id%>
                  <div class="form-group">
                    <%= f.text_field :user_id, value: user.name, id:"user-id#{u}" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :datetime_in_actual, class:"hidden", id:"in-time#{u}" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :datetime_out_actual, class:"hidden", id:"out-time#{u}" %>
                  </div>
                  <div class="form-group">
                    <span id="holiday-check">休みを取り消す</span>
                    <%= f.check_box :holiday_actual, :as => :boolean, checked:true, id:"holiday#{u}" %>
                  </div>
                <% end %>
              </div>
              <% end %>
          <% end %>

        <% end %>
                  <div class='login-btn'>
                    <%= f.submit "保存" ,class:"login-red-btn", id:"btn" %>
                  </div>
      <% end %>
    </div>
  </div>
</div>