<%= render "layouts/admin_header"%>
<div class="background">
  <div class="make-admin-main">
    <div class="back-box">
      <div class="box-head">
        <h1 class="admin-sub-title"><%="シフト編集" %></h1>
        <div class="calender-field">
          <input type="date", class="calender" id="calender">
          <span class="calender-comment", id="calender-comment">⬅ 日付を選択してください</span>
        </div>
        <h1 class="admin-group-name"><%= "#{current_admin.group.group_name}"%></h1>
      </div>
      <div class="over-mode">
        <button type="button", class="mode-btn" id="over-early-mode", style="background-color:#b9b9b9;">残業モード</button>
      </div>
      <%# シフト編集の表部分 %>
      <div class="table-scroll">
        <table class="shift-table", id="table"> 
          <tr class="tr-wrap">
            <th class="table-head">名前</th>
            <% 25.times do |time| %>
                <th colspan="2"><%= "#{time}" %></th>
            <% end %>
          </tr>
          <% @users.each_with_index do |users, f| %>
          <tbody id=<%= "group#{f}" %>>
            <tr>
              <td class="table-head", id=<%= "user#{f}" %>><%= users.name %></td>
              <% 50.times do |i|%>
                <td class="border-th", id=<%= "#{i}" %>><%=""%></td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>

      <%# シフト編集のフォーム部分 %>
      <div class="edit-form">
        <% @works.each_with_index do |work, w| %>
          <% @users.each_with_index do |user, u| %>
            <% if work.user_id == user.id%>
              <%= form_with model: @works, url: actual_work_path, class:"edit-list", id: "shift-form#{w}", local: true do |f| %>
                <div class="edit-one">
                  <%= f.text_field :user_id, value: user.name, readonly:"readonly", class:"form-class", id:"user-id#{w}" %>
                </div>
                <div class="edit-one">
                  <%= f.hidden_field :date, value: work.date, class:"form-class", id:"date#{w}" %>
                </div>
                <div class="edit-one">
                  <%= f.label :datetime_in_actual, "入時間", id:"in-label#{w}" %>
                  <%= f.text_field :datetime_in_actual, value: "#{work.datetime_in_actual[0,2]}:#{work.datetime_in_actual[2,4]}", class:"form-class", id:"in-time#{w}" %>
                </div>
                <div class="edit-one">
                  <%= f.label :datetime_out_actual, "終時間", id:"out-label#{w}" %>
                  <%= f.text_field :datetime_out_actual, value: "#{work.datetime_out_actual[0,2]}:#{work.datetime_out_actual[2,4]}", class:"form-class", id:"out-time#{w}" %>
                </div>
                <div class="edit-one">
                  <% if work.over_early_time % 1 == 0 %>
                    <% over = work.over_early_time.to_i %>
                  <% else %>
                    <% over = work.over_early_time %>
                  <% end %>
                  <%= f.label :over_early_time, "残業時間", id:"over-early-label#{w}" %>
                  <%= f.text_field :over_early_time, value: over, class:"form-class", id:"over-early-time#{w}" %>
                </div>
                <div class="edit-one">
                  <%= f.check_box :holiday_actual, :as => :boolean, class:"check-box", id:"holiday#{w}" %>
                  <span id=<%= "holiday-check#{w}" %>>休みにする</span>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="edit-btn">
        <button type="button", class="submit-btn" id="btn">変更保存</button>
      </div>
    </div>
  </div>
</div>