<%= render "layouts/admin_header"%>

<div class="background">
  <div class="make-admin-main">
    <div class="back-box">
      <div class="box-head">
        <h1 class="admin-sub-title"><%="シフト作成" %></h1>
        <div class="calender-field">
          <input type="date", class="calender" id="calender">
          <span class="calender-comment", id="calender-comment">⬅ 日付を選択してください</span>
        </div>
        <h1 class="admin-group-name"><%= "#{current_admin.group.group_name}"%></h1>
      </div>
      <%# シフト作成の表部分 %>
      <div class="table-scroll">
        <table class="shift-table", id="table"> 
          <tr class="tr-wrap">
            <th class="table-head">名前</th>
            <% 25.times do |time| %>
              <th colspan="2"><%= "#{time}" %></th>
            <% end %>
          </tr>
          <% @users.each_with_index do |users, f| %>
            <tbody id=<%= "group#{f}" %>>
              <tr>
                <td class="table-head", id=<%= "user#{f}" %>><%= users.name %></td>
                <% 50.times do |i|%>
                  <td class="border-th", id=<%= "#{i}" %>><%=""%></td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>

        <%# シフト希望表示部分 %>
        <div class="today-shift-list", id="shift"></div>

        <%# 非表示のシフト作成フォーム %>
        <div class="submit">
          <%= form_with model:@works, class:"hidden-form", id: "shift-form", local: true do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= f.text_field :user_id, class:"hidden", id:"user-id" %>
            <%= f.date_field :date, class:"hidden", id:"work-date"%>
            <%= f.text_field :datetime_in_actual, class:"hidden", id:"in-time" %>
            <%= f.text_field :datetime_out_actual, class:"hidden", id:"out-time" %>
            <%= f.check_box :holiday_actual, class:"hidden", id:"holiday", :as => :boolean %>
            <%= f.submit "保存" ,class:"submit-btn", id:"btn" %>
          <% end %>
        </div>
    </div>
  </div>
</div>




