<%= render "layouts/admin_header"%>
<div class="background">
  <div class="make-admin-main">
    <div class="back-box">
      <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
      <div class="box-head">
        <h1 class="admin-sub-title"><%= "#{@today.strftime("%m/%d(#{wd[@today.wday]})")}のシフト" %></h1>
        <h1 class="admin-group-name"><%= "#{current_admin.group.group_name}"%></h1>
      </div>
      <%# 本日のシフト表部分 %>
      <div class="table-scroll">
        <table class="shift-table", id="table"> 
          <tr class="tr-wrap">
            <th class="table-head">名前</th>
            <% 25.times do |time| %>
              <th colspan="2"><%= "#{time}" %></th>
            <% end %>
          </tr>
          <% @users.each_with_index do |users, f| %>
            <tbody>
              <tr>
                <td class="table-head"><%= users.name %></td>
                <% 50.times do |i|%>
                  <td class="border-th", id=<%= "#{i}" %>><%=""%></td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <%# 本日のシフト一覧 %>
      <div class="today-shift-list">
        <% @works.each do |work| %>
          <% @users.each do |user| %>
            <div class="today-shift-day">
              <% if work.user_id == user.id %>
                <div class="shift-one">
                  <span class="user-name-list">
                    <%= user.name %>
                  </span>
                  <% if work.holiday_actual == true %>
                    <span>休み</span>
                  <% else %>
                    <span><%= work.datetime_in_actual[0,2] %> : <%= work.datetime_in_actual[2,3] %> ~ </span>
                    <span><%= work.datetime_out_actual[0,2] %> : <%= work.datetime_out_actual[2,3] %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>