<header class="header">
  <div class="smart-menu">
    <div class='smart-app-title'>
      <%= image_tag 'shift_success_logo_removebg.png', class:'smart-icon' %>
      <h1 class='smart-app-title-text'>
        Shift Success
      </h1>
    </div>
    <div class="user-header">
      <div class="current-group">
        <%= current_user.group.group_name %>
      </div>
    </div>
  </div>
</header>

<div class="background">
  <%# <div class="make-user-main"> %>
    <div class="make-user-sub">
      <div class="shift-calender">
        <div class="page-head">
            <div class="current-user-name">
              <%= current_user.name %>
            </div>
          <div class="current-month-title">
            <div class="sub-title"><%= @today.strftime('%Y年%m月') %></div>
          </div>
        </div>
        <table class="shift-table">
          <tr>
            <th class="current-month-sun">日</th>
            <th class="current-month">月</th>
            <th class="current-month">火</th>
            <th class="current-month">水</th>
            <th class="current-month">木</th>
            <th class="current-month">金</th>
            <th class="current-month-sat">土</th>
          </tr>
          <% start_month = @today.at_beginning_of_month.at_beginning_of_week - 1 %> <%# 今月の最初の週の日曜日の日付 %>
          <%# ７*５の表にカレンダーを作成 %>
          <% 35.times do |i|%>
            <%# 週初めに<tr>開始タグをつける %>
            <% if i % 7 == 0 %>
              <tr>
            <% end %>
            <%# 先月・来月にはclass属性を付与 %>
            <% if start_month.month == @today.month - 1 || start_month.month == @today.month + 1 %>
              <% if start_month.wday == 0 %>
                <td class="prev-next-month-sun"><%= start_month.strftime("%d").to_i %></td>
              <% elsif start_month.wday == 6 %>
                <td class="prev-next-month-sat"><%= start_month.strftime("%d").to_i %></td>
              <% else%>
                <td class="prev-next-month"><%= start_month.strftime("%d").to_i %></td>
              <% end %>
            <% else %>
            
              <% if start_month.wday == 0 %>
                <td class="current-month-sun-num">
                  <%= start_month.strftime("%d").to_i %>
                  <% @works.each do |work| %>
                    <% if work.date.day == start_month.strftime("%d").to_i %>
                      <% if work.holiday_actual == false %>
                        <div class="shift-new-calender">
                          <%= work.datetime_in_actual[0,2] %>:<%= work.datetime_in_actual[2,3] %> ~ 
                          <%= work.datetime_out_actual[0,2] %>:<%= work.datetime_out_actual[2,3] %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              <% elsif start_month.wday == 6%>
                <td class="current-month-sat-num">
                  <%= start_month.strftime("%d").to_i %>
                  <% @works.each do |work| %>
                    <% if work.date.day == start_month.strftime("%d").to_i %>
                      <% if work.holiday_actual == false %>
                        <div class="shift-new-calender">
                          <%= work.datetime_in_actual[0,2] %>:<%= work.datetime_in_actual[2,3] %> ~ 
                          <%= work.datetime_out_actual[0,2] %>:<%= work.datetime_out_actual[2,3] %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              <% else %>
                <td class="current-month-num">
                  <%= start_month.strftime("%d").to_i %>
                  <% @works.each do |work| %>
                    <% if work.date.day == start_month.strftime("%d").to_i %>
                      <% if work.holiday_actual == false %>
                        <div class="shift-new-calender">
                          <%= work.datetime_in_actual[0,2] %>:<%= work.datetime_in_actual[2,3] %> ~ 
                          <%= work.datetime_out_actual[0,2] %>:<%= work.datetime_out_actual[2,3] %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
            <%# 週終わりに</tr>閉じタグをつける %>
            <% if i % 7 == 6 %>
              </tr>
            <% end %>
            <% start_month += 1 %>
          <% end %>
        </table>
      </div>


      <%= form_with model:@schedules, url: work_schedules_path, class: 'make-shift', local: true do |f| %>
        <div class='new-form-wrap'>
          <div class='form-header'>
            <h1 class='form-header-text'>
              シフト希望申請
            </h1>
          </div>
          <%= f.fields_for :collections do |i| %>
            <% wday = @today.wday %>
            <% wdays = [ "(日)",  "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"]%>
            <%= render 'layouts/error_messages', model: i.object %>
            <div class="shift-form">
              <div class="form-day">
                <%= "#{(@today+14).month}/#{(@today+14).day}#{wdays[wday]}" %>
              </div>
              <div class="form-group">
                <%# <div class='form-text-wrap'>
                  <label class="form-text">開始</label>
                </div> %>
                <%= i.datetime_select :datetime_in, {discard_year: true, discard_month: true, minute_step: 30, use_month_numbers: true, default: { year: @today.year, month: @today.month, day: @today.day + 0.hour}}, {class: "select-form"} %>
              </div>
              <div>~</div>
              <div class="form-group">
                <%# <div class='form-text-wrap'>
                  <label class="form-text">終了</label>
                </div> %>
                <%= i.datetime_select :datetime_out, {discard_year: true, discard_month: true, minute_step: 30, use_month_numbers: true, default: { year: @today.year, month: @today.month, day: @today.day + 0.hour}}, {class: "select-form"} %>
              </div>
              <div class="form-group">
                <div class="check-box-form">
                  <%= i.check_box :holiday, :as => :boolean, class:"check-box" %>
                  <div class='form-text-wrap'>
                    <label class="form-text">休み</label>
                  </div>
                </div>
              </div>
              <% @today += 1 %>
            </div>
          <% end %>
            <div class="form-group">
              <div class='form-comment'>
                <label class="comment">コメント</label>
              </div>
              <%= f.text_area :add_request, placeholder:"コメントする", maxlength:"40", class:"comment-area" %>
            </div>

          <div class='form-group'>
            <%= f.submit "送信" ,class:"submit-btn" %>
          </div>
        </div>
      <% end %>





    <%# </div> %>
 </div>
</div>


<footer class="footer">
  <ul class="bottom-menu">
    <li class="bottom-list">
      <%= link_to "ホーム", user_posts_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "就業履歴", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "チャット", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "お給料", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "シフト希望", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
  </ul>
</footer>