<header class="header">
  <div class="box box-logo">
    <div class="sub-title">シフト管理・作成</div>
  </div>
  <div class="sp-nav">
    <i class="fas fa-bars"></i>
  </div>
  <div class="box box-nav">
    <ul class="inner-nav">
      <li class="menu">
        <%= link_to "シフト作成", new_actual_work_path(current_admin.group_id), class: "menu-list" %>
      </li>
      <li class="menu">
        <%= link_to "従業員管理", "#", class: "menu-list" %>
      </li>
      <li class="menu">
        <%= link_to "日報", edit_actual_work_path(current_admin.group_id), class: "menu-list" %>
      </li>
      <li class="menu">
        <%= link_to "締め処理", "#", class: "menu-list" %>
      </li>
      <li class="menu">
        <%= link_to "メッセージ", "#", class: "menu-list" %>
      </li>
      <li class="menu">
        <%= link_to "各種設定", "#", class: "menu-list" %>
      </li>
      <li class="menu">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "menu-list" %>
      </li>
    </ul>
  </div>
</header>