<footer class="footer">
  <ul class="bottom-menu">
    <li class="bottom-list">
      <%= link_to "ホーム", user_posts_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "就業履歴", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "チャット", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "お給料", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "シフト希望", new_work_schedule_path(current_user.group_id), class:"bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
    <li class="bottom-list">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "bottom-name" %><i class="アイコンのコード"></i><br>
    </li>
  </ul>
</footer>